<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortFolio 2022</title>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</head>
<body>
    <div class="sun">
        <div class="circle"></div>
        <div class="rays">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
               <a href="#home">Home</a>
            </li>
            <li>
               <a href="">Proyects</a>
            </li>
            <li>
               <a href="">knowlege</a>
            </li>
            <li>
               <a href="">about</a>
            </li>
        </ul>
    </div>
    <div class="info_about_red">i</div>
    <header id="home" class="header">
        <section class="header_charge">
            <h1>
                    Hi Im 
                
                <b>
                        <span style="--i:1">J</span>
                        <span style="--i:2">u</span>
                        <span style="--i:3">a</span>
                        <span style="--i:4">n</span>
                    <!-- Juan -->
                    ,
                </b>
            </h1>
            <h2>Fullstack Web Developer</h2>
            <h3>BE-Heavy</h3>
        </section>
        <!-- <section class="header_i">
            <img class="my_img" src="" alt="">
            <h2>Juan Ignacio Saleme</h2>
            <section>
                <div class="insta_contact">
                    <img src="" alt="">
                    <a href="">Instagram</a>
                </div>
                <div class="linkd_contact">
                    <img src="" alt="">
                    
                    <a href="">Linkedin</a>
                </div>
                <div class="git_contact">
                    <img src="" alt="">
                    <a href="">Github</a>
                </div>
            </section> -->
        <!-- </section> -->

    </header>

    <main>
        <section class="projects">
            <article class="one_project">
                <div class="description">
                    <h3>Nombre del proyecto</h3>
                    <p>Descripcion</p>
                    <ul>
                        <!-- tecnologias usadas -->
                        <li>Js</li>
                        <li>Js</li>
                        <li>Js</li>
                    </ul>
                </div>
                <div class="projects_imgs_carroucel" >
                    <div class="carousel-cell">
                        <img src="<%= require('./static/assets/projects/1.png')%>" alt="asdd">
                    </div>
                    <div class="carousel-cell">
                        <img src="<%= require('./static/assets/projects/2.png')%>" alt="asd">
                    </div>
                    <div class="carousel-cell">
                        <img src="<%= require('./static/assets/projects/3.png')%>" alt="ss">
                    </div>
                </div>
            </article>

        </section>
        <!-- ------------ -->
        <section class="knowlege">
            <article class="knowlege_card js">
                <div></div>
                <h3 id="name_card">JavasCript</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>
            <article class="knowlege_card react">
                <div></div>
                <h3 id="name_card">React</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>
            <article class="knowlege_card node">
                <div></div>
                <h3 id="name_card">NodeJs</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>
            <article class="knowlege_card mysql">
                <div></div>
                <h3 id="name_card">MySQL</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>
            <article class="knowlege_card mysql">
                <div></div>
                <h3 id="name_card">SQLite</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>
            <article class="knowlege_card mongo">
                <div></div>
                <h3 id="name_card">MongoDB</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>
            <article class="knowlege_card docker">
                <div></div>
                <h3 id="name_card">Docker</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>
            <article class="knowlege_card googlecloud">
                <div></div>
                <h3 id="name_card">Google Cloud</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>
            <article class="knowlege_card python">
                <div></div>
                <h3 id="name_card">Python</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>
            <article class="knowlege_card rust">
                <div></div>
                <h3 id="name_card">Rust</h3>
                <!-- <section class="">
                    <ul>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                        <li>Vanilla</li>
                    </ul>
                </section> -->
            </article>

        </section>  
    </main>
    <div id="app"></div>
    <footer>
        <p>August 2022</p>
    </footer>
</body>
</html>