.menu{
    z-index: 10000;
    position: fixed;
    background-color: aqua;
    height: 100%;
    top: 0%;
    left: -3.9rem;
    transition: left .5s ease;
}
.menu::after{
    content: '>>';
    position: relative;
    display: block;
    right: -3.8rem;
    top: -3rem;
    background-color: antiquewhite;
    height: 100%;
}
.menu:hover{
    left: 0%;
}