$background_body: #292a30;

$background_secundary : #2c2e35;
$shadows_secundary: rgba(46, 46, 46, .6);
$text_color_black: #280008;
$text_color_white: rgb(224, 224, 224);
$text_resalt_color_violet: #715AFF;

.knowlege {
    // scroll-snap-align: center;
    // scroll-padding: 10rem;
    opacity: 0;
    position: relative;

    font-family: 'Noto Sans', sans-serif;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    // margin-left: 4rem;
    .section_skills,
    .section_tools {
        h2 {
            text-align: center;
            color: $text_resalt_color_violet
        }
        max-width: 30rem;
        min-height: 24rem;
        padding: 1rem;
        background-color: $background_secundary ;
        border-radius: 5px;

        .skills,
        .tools {
            display: flex;
            flex-wrap: wrap;
            // gap: 2rem;
            justify-content: start;
            // margin-right: 2rem;
            // padding-top: 10rem;
            // margin-left: 4rem;

        }
        .tools{
            justify-content: end;
        }
    }


    .knowlege_card {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: .9rem;
        color: $text_color_white;
        // cursor: pointer;
        position: relative;
        width: 10rem;
        // height: 8rem;
        text-align: center;
        // background-color: $background_body;
        // border-radius: 5px;

        h3 {
            z-index: 10;
        }

        div {
            // width: 4rem;
            height: 3.5rem;
            overflow: hidden;

            margin-top: .5rem;
            background-color: $text_color_white;
            mask-position: center;
            -webkit-mask-position: center;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-size: contain;
            -webkit-mask-size: contain;
        }

        .level {
            font-size: small;
            color: $text_resalt_color_violet
        }

        // section{
        //     // background-color: $background_body;
        //     background-color: inherit;
        //     width: 100%;
        //     position: absolute;
        //     opacity: 0;
        //     transition: opacity .3s ease-in, transform .5s ease-in;
        //     text-align: center;
        //     // z-index: 2;
        //     border-radius: 0 0 5px 5px;
        //     transform: translateY(-1.5rem);

        //     // animation: section_hide .3s forwards;
        // }
        // section ul {
        //     list-style: none;
        // }

    }

    // .knowlege_card:hover {
    //     opacity: .6 !important;
    //     // section{
    //     //     opacity: 1;
    //     //     transform: translateY(2rem);

    //     // }
    // }
}

.js {
    // background-color: #F2DA40 !important;

    div {
        -webkit-mask: url("../assets/icons/js.svg");
        mask: url("../assets/icons/js.svg");
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
    }
}

.react {
    // background-color: #51469E !important;

    div {
        -webkit-mask: url("../assets/icons/react.svg");
        mask: url("../assets/icons/react.svg");
    }
}

.node {
    // background-color: #AEC64D !important;

    div {
        -webkit-mask: url("../assets/icons/nodejs.svg");
        mask: url("../assets/icons/nodejs.svg");
    }
}

.mysql {
    // background-color: #EB8647 !important;

    div {
        -webkit-mask: url("../assets/icons/mysql.svg");
        mask: url("../assets/icons/mysql.svg");
    }
}

.mongo {
    // background-color: #67AB33 !important;

    div {
        -webkit-mask: url("../assets/icons/react.svg");
        mask: url("../assets/icons/react.svg");
    }
}

.docker {
    // background-color: #6DC2C5 !important;

    div {
        -webkit-mask: url("../assets/icons/docker.svg");
        mask: url("../assets/icons/docker.svg");
    }
}

.googlecloud {
    // background-color: #E63946 !important;

    div {
        -webkit-mask: url("../assets/icons/google_cloud_v2.svg");
        mask: url("../assets/icons/google_cloud_v2.svg");
    }
}

.python {
    // background-color: #425EB3 !important;

    div {
        -webkit-mask: url("../assets/icons/python.svg");
        mask: url("../assets/icons/python.svg");
    }
}

.rust {
    // background-color: #ED9158 !important;

    div {
        -webkit-mask: url("../assets/icons/rust.png");
        mask: url("../assets/icons/rust.png");
    }
}

.git {
    // background-color: #da4b4b !important;

    div {
        -webkit-mask: url("../assets/icons/git.svg");
        mask: url("../assets/icons/git.svg");
    }
}

.github {
    // background-color: #3f28a8 !important;

    div {
        -webkit-mask: url("../assets/icons/github.svg");
        mask: url("../assets/icons/github.svg");
    }
}

.sqlite {
    // background-color: #2e5fa8 !important;

    div {
        -webkit-mask: url("../assets/icons/sqlite.svg");
        mask: url("../assets/icons/sqlite.svg");
    }
}

.aws {
    // background-color: #d4933d !important;

    div {
        -webkit-mask: url("../assets/icons/aws.svg");
        mask: url("../assets/icons/aws.svg");
    }
}