@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$background_body: #292a30;
// $background_body:#1D1D1D;
$background_secundary : #2c2e35;
$shadows_secundary: rgba(46, 46, 46, .6);
$text_color_black: #280008;
$text_color_white: rgb(224, 224, 224);

$text_resalt_color_violet: #715AFF;
$text_resalt_color_green: #A6E99B;

* {
    margin: 0;
    padding: 0;
}

html {
    // scroll-snap-type: y mandatory;
    // scroll-snap-type: y proximity;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    position: inherit;
}
body{

    background-color: $background_body;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

// .body {
//     // margin-left: 3.5rem;
//     // overflow-y: scroll;
// }

.header {
    // scroll-snap-align: start;
    // scroll-padding: 10rem;
    height: 90vh;
    // margin-bottom: 5rem;
    font-family: 'Noto Sans', sans-serif;
    color: $text_color_black;
    display: flex;
    justify-content: center;
    // background-color: $background_secundary ;
    margin: 1rem;
    margin-bottom: 0rem;

    .header_charge {
        margin-top: 15%;
        color: $text_color_white;
        position: relative;
        left: -7rem;
        // outline: #715AFF 2px solid;
        width: fit-content;

        font-size: 2.6rem;

        h1,
        h2 {
            width: fit-content;
        }
        h1{
            display: flex;
            gap: 36px;
        }
        h1 b span{
            color: $text_resalt_color_violet;
        }

        h2,
        h3 {
            // display: block;
            text-align: right;
            color: $text_resalt_color_green;
        }

    }
}

.info_about_red {
    font-family: 'Noto Sans', sans-serif;

    &::before{
        content: " ";
        position: absolute;
        background-color: white;
        color: $text_color_black;
        padding: .5rem 1rem;
        opacity: 0;
        top: -.7rem;
        width: 0;
        height: 0;
        transition: opacity .5s ease,
        transform .4s ease,
        width .2s ease,
        height .2s ease
        // content .8s ease,
        ;
        // left: -4.5rem;
        transform: translateY(1rem);
        border-radius: 10px 10px 0px 10px;
        z-index: 9;


    }

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $text_resalt_color_violet;
    color: $text_color_white;
    z-index: 10;
    right: 4rem;
    bottom: 4rem;

    height: 2.8rem;
    width: 2.8rem;

    border-radius: 50%;
    opacity: .7;
    transition: opacity .5s ease-in ;

    &:hover{
        opacity: 1;
        &::before{
            content: "About";
            width: 100%;
            height: 50%;
            opacity: .7;
            // left: -4.5rem;
            transform: translateX(-3.5rem);
            // transform: translateY(0);

            
        }
    }
}

main {
    margin-top: 2rem;
    background-color: $background_body;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.header_charge b span {
    position: relative;
    display: block;
    width: min-content;
    animation: waviy 1.5s infinite;
    animation-delay: calc(.3s * var(--i));
    width: min-content;
    float: left;
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-10px)
    }
}