.iobserver{

    animation: left_ob .5s ease-in forwards;
}
.io_not_observ{
    animation: rigth_ob .5s ease-in forwards;
}

@keyframes left_ob {
    0%{
        // position: relative;
        left: -2rem;
    }
    100%{
        // position: relative;
        left: 0rem;
        opacity: 1;
    }
    
}
@keyframes rigth_ob {
    0%{
        opacity: 1;
        left: 0rem;
    }
    100%{
        left: -2rem;
        opacity: 0;
    }   
}