.menu{
    z-index: 10000;
    position: fixed;
    background-color: #232429;
    height: 100%;
    top: 0%;
    left: -7.2rem;
    padding-top: 6rem;
    transition: left .5s ease;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.menu ul{
    list-style-type: none;
    li{
        padding-bottom: 1rem;
    }
    a{
        color: #e09fec;
        text-decoration: none;
        display: block;
        padding-left: .2rem;
        padding-right: .2rem;
        transition: color .15s ease-in;
        &:hover{
            color: #a04db1;
            cursor: pointer;
        }
    }
}

.menu::after{
    content: '<<';
    position: relative;
    padding-left: 0rem;
    width: 50%;
    text-align: center;
    display: block;
    right: -6.9rem;
    top: -12rem;
    // background-color: antiquewhite;
    color: white;
    opacity: .6;
    height: 100%;
    transition: opacity .5s ease-in;
}
.menu:hover{
    left: 0%;
    &::after{
        opacity: 0;
        // content: " ";
    }
}